

.color-0p5-gry-1 {
    background-color: rgba(255, 255, 255, 0.5);
}
.color-0p4-blu-1 {
    background-color: rgba(8, 221, 254, 0.4);
}
.color-1-orn-1 {
    background-color: rgba(255, 221, 169, 1);
}
.color-0p4-orn-2 {
    background-color: rgba(254, 182, 87, 0.4);
}
.color-0p54-orn-2 {
    background-color: rgba(254, 182, 87, 0.54);
}
.color-0p4-orn-3 {
    background-color: rgba(211, 153, 67, 0.4);
}
.color-0p4-pur-1 {
    background-color: rgba(123, 87, 254, 0.4);
}
.color-0p4-pur-2 {
    background-color: rgba(159, 87, 254, 0.4);
}
.color-0p4-pur-3 {
    background-color: rgba(193, 87, 254, 0.4);
}
.color-0p4-pur-4 {
    background-color: rgba(254, 87, 237, 0.4);
}
.color-0p472-grn-1 {
    background-color: rgba(34, 255, 167, 0.472);
}
.color-0p4-grn-2 {
    background-color: rgba(87, 254, 143, 0.4);
}
.color-0p4-grn-3 {
    background-color: rgba(95, 254, 87, 0.4);
}
.color-0p4-grn-4 {
    background-color: rgba(87, 221, 254, 0.4); 
}
.color-0p4-yel-1 {
    background-color: rgba(254, 251, 87, 0.4);
}


.color {
    background-color: rgba(211, 153, 67, 0.4);
}
