
.debts-2r2c-14h11w {
    margin-left: 10px;
    grid-row: 2/16;
    grid-column: 2/13;
    background-color: rgba(214, 255, 173, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.debts-2r3c-2h8w {
    margin-left: 10px;
    grid-row: 2/4;
    grid-column: 2/10;
    background-color: rgba(255, 221, 169, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2000;
}
.debts-4r3c-13h8w {
    margin-left: 10px;
    grid-row: 4/16;
    grid-column: 2/10;
    background-color: rgba(147, 107, 47, 0.4);
    display: flex;
    justify-content: center;
    align-items: top;
}
.debts-4r10c-13h3w {
    margin-left: 10px;
    grid-row: 4/16;
    grid-column: 10/13;
    background-color: rgba(211, 153, 67, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

