

.grid-2r1c-1h1w {
    margin-left: 10px;
    grid-row: 2;
    grid-column: 1;
    /* background-color: rgba(254, 251, 87, 0.4); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-2r2c-1h1w {
    grid-row: 2;
    grid-column: 2;
    /* background-color: rgba(95, 254, 87, 0.4); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-3r2c-1h1w {
    grid-row: 3;
    grid-column: 2;
    /* background-color: rgba(87, 221, 254, 0.4); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-4r2c-9h1w {
    grid-row: 4/13;
    grid-column: 2;
    /* background-color: rgba(254, 87, 237, 0.4); */
    display: flex;
    justify-content: left;
    align-items: center;
}
.grid-4r3c-1h9w {
    grid-row: 4;
    grid-column: 3/12;
    background-color: rgba(123, 87, 254, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-5r3c-1h9w {
    grid-row: 5;
    grid-column: 3/12;
    background-color: rgba(159, 87, 254, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-6r3c-1h9w {
    grid-row: 6;
    grid-column: 3/12;
    background-color: rgba(193, 87, 254, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-7r3c-1h9w {
    grid-row: 7;
    grid-column: 3/12;
    background-color: rgba(34, 255, 167, 0.472);
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-8r3c-1h9w {
    grid-row: 8;
    grid-column: 3/12;
    /* background-color: rgba(87, 254, 143, 0.4); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-8r3c-3h9w {
    grid-row: 8/11;
    grid-column: 3/12;
    background-color: rgba(87, 254, 143, 0.4);
    display: flex;
    overflow-y: scroll;
}
.grid-9r3c-1h9w {
    grid-row: 9;
    grid-column: 3/12;
    /* background-color: rgba(87, 254, 201, 0.4); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-10r3c-1h9w {
    grid-row: 10;
    grid-column: 3/12;
    /* background-color: rgba(254, 143, 87, 0.4); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-11r3c-1h9w {
    grid-row: 11;
    grid-column: 3/12;
    background-color: rgba(254, 182, 87, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-12r3c-1h9w {
    grid-row: 12;
    grid-column: 3/12;
    /* background-color: rgba(254, 207, 87, 0.4); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-12r3c-3h9w {
    grid-row: 12/15;
    grid-column: 3/12;
    background-color: rgba(254, 182, 87, 0.4);
    display: flex;
    overflow-y: scroll;
}
.grid-15r3c-1h9w {
    grid-row: 15;
    grid-column: 3/12;
    background-color: rgba(254, 182, 87, 0.4);
    display: flex;
    overflow-y: scroll;
}
.grid-4r12c-9h1w {
    grid-row: 4/13;
    grid-column: 12;
    /* background-color: rgba(254, 87, 237, 0.4); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-2r11c-1h1w {
    grid-row: 2;
    grid-column: 13;
    /* background-color: rgba(254, 251, 87, 0.4); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-2r10c-1h1w {
    grid-row: 2;
    grid-column: 12;
    /* background-color: rgba(95, 254, 87, 0.4); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-planner-3r10c-1h1w {
    grid-row: 3;
    grid-column: 12;
    /* background-color: rgba(8app-planner-4r3c-1h9w7, 221, 254, 0.4); */
    display: flex;
    justify-content: center;
    align-items: center;
}