.summary-header {
    margin-bottom: 30px;
    grid-row: 1/2;
    grid-column: 3/12;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Menlo-Bold';
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(149, 149, 149);
  }


.summary-container {
    grid-row: 2/3;
    grid-column: 3/14;
    width: auto;
    margin: 0;
    display: flex;
    font-family: 'Menlo';
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    /* background-color: rgba(221, 241, 5, 0.4); */
} 

.summary-headline {
    width: 82%;
    height: 55px;
    margin-top: 5px;
    background-color: rgba(231, 186, 147, 0.704);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
} 

.li-wrapper {
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-row-gap: 1px;
    grid-column-gap: 50px;
    background-color: rgba(250, 232, 192, 0.3);
}
.summary-section-title {
    font-size: 22px;
}
.summary-label {
    grid-column: 1;
    width: 100%;
    padding: 5px;
    /* background-color: rgb(72, 125, 82); */
}
.summary-value {
    grid-column: 5;
    width: 100%;
    padding: 5px;
    /* background-color: rgb(72, 125, 82); */
    justify-content: center;
}