
.li-wrapper {
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-row-gap: 1px;
    grid-column-gap: 50px;
    background-color: rgba(250, 232, 192, 0.3);
    z-index: inherit;
}
.summary-section-title {
    font-size: 22px;
}
.summary-label {
    grid-column: 1;
    width: 100%;
    padding: 5px;
    /* background-color: rgb(72, 125, 82); */
}
.summary-value {
    grid-column: 5;
    width: 100%;
    padding: 5px;
    /* background-color: rgb(72, 125, 82); */
    justify-content: center;
}